.Project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 20px;
}         

.Project > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 20px;
}   

.Project--features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin: 10px auto;
}